main.mainContainer{
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 0 auto;
}

.sectionBtns{
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.btnGeneral{
  border: none;
  border-radius: 3px;
  padding: 12px;
}
